<p>
  content-page works!
</p>

<mat-toolbar>
  <div class="example-container">
    <h2>Add content</h2>
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Add URL">
    </mat-form-field>
  </div>
</mat-toolbar>

<app-content-block></app-content-block>
