<ngx-loading-bar></ngx-loading-bar>
<mat-card>
    <mat-card-title>Изменить пароль</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Текущий пароль" [type]="hide1 ?
        'password' : 'text'" id="oldPassword" formControlName="oldPassword"
                       [(ngModel)]="oldPassword">
                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div class="error"
                                           *ngIf="isControlInvalid('oldPassword')">
                Слишком короткий пароль
            </div>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Новый пароль" [type]="hide2 ?
        'password' : 'text'" id="newPassword" formControlName="newPassword"
                       [(ngModel)]="newPassword">
                <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div class="error" *ngIf="isControlInvalid('newPassword')">
                    Слишком короткий пароль
                </div>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Новый пароль повторно"
                       [type]="hide3 ?
        'password' : 'text'" id="newPassword2" formControlName="newPassword2"
                       [(ngModel)]="newPassword2">
                <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide3">
                    <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div class="error2" *ngIf="isControlInvalid('newPassword2')">
                    Слишком короткий пароль
                </div>
            </mat-form-field>

<div class="blockButton">
    <button
            type="submit"
            mat-button>
        Отправить
    </button>


    <button (click)="goUsers()"
            type="submit"
            mat-button>
        Отмена
    </button>
</div>

        </form>
    </mat-card-content>
</mat-card>
